<div class="jumbotron">
    <h1>Student Discord Server</h1>
    <p>
        A new way to stay connected with every student at Regis high school at all times.
    </p>
    <hr>
    <a class="btn btn-primary" href="https://discord.gg/4fFpVEC" target="new">Join the Server!</a>

</div>

<div class="row">
    <iframe src="https://discordapp.com/widget?id=150739077757403137&theme=dark" width="350" height="500" allowtransparency="true" frameborder="0"></iframe>
</div>