<div class="jumbotron">
    <h1>Student Discord Server</h1>
    <p>
        A new way to stay connected with every student at Regis high school at all times.
    </p>
    <hr>
    <a class="btn btn-primary" href="https://discord.gg/4fFpVEC" target="new">Join the Server!</a>

</div>

<div class="row">
    <div class="col-xs-12 col-md-6">
        <iframe src="https://discordapp.com/widget?id=150739077757403137&theme=dark" width="350" height="500" allowtransparency="true" frameborder="0"></iframe>
    </div>
    <div class="col-xs-12 col-md-6">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/pynmRmJUDJs" frameborder="0" allowfullscreen></iframe>
    </div>
</div>