.right {
    float: right;
}

.jumbotron img.right {
    max-width: 300px;
}

.manage-group, .view-group, .join-group, .leave-group {
  width: 80px;
  float: right;
}

.group-member img {
  width: 80px;
}

body {
  padding-top: 70px;
  padding-bottom: 50px;
}

.quote img {
  float: left;
  width: 80%;
  max-width: 75px;
  margin-right: 20px;
}